#header {
  background-color: $Dark-blue;
  border-radius: $border-r;
  .head-info {
    background-color: $Blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: $border-r;
    .photo {
      background-color: $Font-color;
      padding: 0.1rem 0.14rem;
      border-radius: 60%;
      width: 25%;
      text-align: center;
      img {
        width: 100%;
        display: block;
      }
    }
    .content {
      width: 55%;
      margin-left: 1rem;
      h3 {
        font-weight: $font-wight-1;
        font-size: $font-size;
      }
      p {
        color: $Pale-Blue;
        font-size: 15px;
      }
    }
  }
  .nav-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: $border-r;
  }
  @media (min-width: 1440px) {
    width: 20%;
    height: 100%;
    margin: 0;
    min-height: 350px;
    min-width: 250px;
    .head-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      padding: 2rem;
      border-radius: $border-r;
      .photo {
        background-color: $Font-color;
        padding: 0.1rem 0.14rem;
        border-radius: 60%;
        width: 50%;
        text-align: start;
        img {
          width: 100%;
          display: block;
        }
      }
      .content {
        width: 100%;
        margin-top: 3rem;
        h3 {
          font-weight: $font-wight-2;
          font-size: 3rem;
          margin-top: -10px;
        }
        p {
          color: $Pale-Blue;
          font-size: 20px;
        }
      }
    }
    .nav-btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2rem;
      border-radius: $border-r;
    }
  }
}
