body {
  font-family: "Rubik", sans-serif;
  background-color: $Very-dark-blue;
  padding: 2rem 1rem;
  margin: 0;
  color: $Font-color;
  @media screen and (min-width: 1440px) {
    margin: 5rem auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  button {
    background-color: transparent;
    padding: 0.5rem;
    border: 0;
    outline: none;
    font-weight: $font-wight-2;
    color: $Desaturated-blue;
    font-size: 15px;
    &:hover {
      color: $Pale-Blue;
    }
    @media screen and (min-width: 1440px) {
      font-size: 1.5rem;
    }
  }
}
