@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
  padding: 2rem 1rem;
  margin: 0;
  color: #f5f5f5;
}

@media screen and (min-width: 1440px) {
  body {
    margin: auto;
    padding: 0 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body ul {
  list-style: none;
  padding: 0;
}

body li {
  margin-top: 1.4rem;
}

body button {
  background-color: transparent;
  padding: 0.5rem;
  border: 0;
  outline: none;
  font-weight: 400;
  color: #6f76c8;
  font-size: 15px;
}

body button:hover {
  color: #bdc1ff;
}

@media screen and (min-width: 1440px) {
  body button {
    font-size: 1.5rem;
  }
}

#header {
  background-color: #1c1f4a;
  border-radius: 14px;
}

#header .head-info {
  background-color: #5545e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  border-radius: 14px;
}

#header .head-info .photo {
  background-color: #f5f5f5;
  padding: 0.1rem 0.14rem;
  border-radius: 60%;
  width: 25%;
  text-align: center;
}

#header .head-info .photo img {
  width: 100%;
  display: block;
}

#header .head-info .content {
  width: 55%;
  margin-left: 1rem;
}

#header .head-info .content h3 {
  font-weight: 300;
  font-size: 18px;
}

#header .head-info .content p {
  color: #bdc1ff;
  font-size: 15px;
}

#header .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  border-radius: 14px;
}

@media (min-width: 1440px) {
  #header {
    width: 20%;
    height: 100%;
    margin: 5rem auto;
    min-height: 350px;
    min-width: 250px;
  }
  #header .head-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 2rem;
    border-radius: 14px;
  }
  #header .head-info .photo {
    background-color: #f5f5f5;
    padding: 0.1rem 0.14rem;
    border-radius: 60%;
    width: 50%;
    text-align: start;
  }
  #header .head-info .photo img {
    width: 100%;
    display: block;
  }
  #header .head-info .content {
    width: 100%;
    margin-top: 3rem;
  }
  #header .head-info .content h3 {
    font-weight: 400;
    font-size: 3rem;
    margin-top: -10px;
  }
  #header .head-info .content p {
    color: #bdc1ff;
    font-size: 20px;
  }
  #header .nav-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem;
    border-radius: 14px;
  }
}

#main .cards-container {
  margin: 1rem 0;
}

#main .cards-container .card {
  border-radius: 14px;
  margin: 2rem 0 0;
  background-color: green;
}

#main .cards-container .card .bg {
  margin: -5px 0;
  text-align: right;
}

#main .cards-container .card .bg img {
  -o-object-fit: inherit;
     object-fit: inherit;
  width: 12%;
  margin-right: 10px;
}

#main .cards-container .card .card-content {
  background-color: #1c1f4a;
  border-radius: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#main .cards-container .card .card-content p {
  color: #bdc1ff;
  margin-left: 25px;
  margin-top: -3px;
  font-weight: 300;
}

#main .cards-container .card .card-content img {
  margin-top: 55px;
  margin-left: 105px;
}

#main .cards-container .card .card-content h4 {
  margin-top: 45px;
  margin-left: 25px;
  text-transform: capitalize;
}

#main .cards-container .card .card-content h2 {
  margin-left: 25px;
  margin-top: -10px;
  font-weight: 300;
}

#main .cards-container .active {
  display: block;
}

@media screen and (min-width: 1440px) {
  #main {
    margin: 0;
    margin-left: -3rem;
    min-height: 600px;
    min-width: 250px;
  }
  #main .cards-container {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
  #main .cards-container .card {
    border-radius: 14px;
    border: 2px solid red;
    min-height: 280px;
    min-width: 83px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #main .cards-container .card .bg {
    margin: 0;
    text-align: right;
    min-height: 90px;
  }
  #main .cards-container .card .bg img {
    -o-object-fit: fill;
       object-fit: fill;
    width: 60%;
  }
  #main .cards-container .card .card-content {
    min-width: inherit;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 200px;
  }
  #main .cards-container .card .card-content p {
    color: #bdc1ff;
    margin-left: 25px;
    margin-top: -3px;
    font-weight: 300;
  }
  #main .cards-container .card .card-content img {
    margin-top: 55px;
    margin-left: 105px;
  }
  #main .cards-container .card .card-content h4 {
    margin-top: 45px;
    margin-left: 25px;
    text-transform: capitalize;
  }
  #main .cards-container .card .card-content h2 {
    margin-left: 25px;
    margin-top: -10px;
    font-weight: 300;
  }
}
/*# sourceMappingURL=style.css.map */